<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper adresschange">
			<div class="header">
				<div class="aside mui-action-back">
					<img src="img/Shape.png" class="back"/>
				</div>
				<div class="head-main">
					地区选择
				</div>
				<div class="aside">
					
				</div>
			</div>
			<div class="main big-main">
				<div class="left">
					<div class="left-tab" @click="change(index)" v-for="(val,index) in adressdata" :class="index==myindex?'active':''">
						<span>
							{{val.name}}
						</span>
					</div>
				</div>
				<div class="left">
					<div class="left-tab" v-for="(val,index) in adressdata[myindex].sub" @click="changesub(index)" :class="index==subindex?'active':''">
						{{val.name}}
					</div>
				</div>
				<div class="right">
					<div class="rihgt-tab" v-for="(val,index) in adressdata[myindex].sub[subindex].sub">
						{{val.name}}
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el:'.wrapper',
			data:{
				adressdata:[],
				myindex:0,
				subindex:0
			},
			mounted:function(){
				this.myajax()
			},
			methods:{
				changesub:function(index){
					this.subindex=index
				},
				change:function(index){
					this.myindex=index
				},
				myajax:function(){
					var that=this
					$.ajax({
						type : "POST",
						url : url + 'shopsmain/?service=Region.selectCrity',
						datatype : 'json',
						success : function (res){
							that.adressdata=res.data
							console.log(res)
						},
						error :function (){
							alert('接收失败');
						},
					});
				}
			}
		})
	</script>
</html>
