<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper myorder nearby">
			<!--头部-->
			<div class="header">
				<div class="aside mui-action-back">
					<img src="img/Shape.png" class="back"/>
				</div>
				<div class="head-main">
					我的收藏
				</div>
				<div class="aside">
					
				</div>
			</div>
			<div class="main big-main collect">
				<div class="nav">
					<div class="nav-tab" :class="index==0?'active':''" @click="navchange(0)">
						<span>店铺</span>
					</div>
					<div class="nav-tab" :class="index==1?'active':''" @click="navchange(1)">
						<span>商品</span>
					</div>
				</div>
				<div class="order-main" v-if="index==0">
					<div class="near-tab">
						<img src="img/index.jpg" class="avatar"/>
						<div class="near-text">
							<div class="near-title">天成洗护店</div>
							<div class="near-sub">经营类型：洗护类</div>
						</div>
						<div class="adress-box">
							<div class="into" @click="opennew('store')">进入店铺</div>
						</div>
					</div>
					<div class="near-tab">
						<img src="img/index.jpg" class="avatar"/>
						<div class="near-text">
							<div class="near-title">天成洗护店</div>
							<div class="near-sub">经营类型：洗护类</div>
						</div>
						<div class="adress-box">
							<div class="into" @click="opennew('store')">进入店铺</div>
						</div>
					</div>
				</div>
				<div class="shop-box index" v-if="index==1">
					<div class="shop-tab" @click="opennew('shop')">
						<div class="shopimg-box">
							<img src="img/index.jpg" class="shop-img" />
						</div>
						<div class="title">XXXXXXXX</div>
						<div class="label-box">
							<div class="label grey">广告</div>
							<div class="label blue">标签</div>
							<div class="label yellow">标签</div>
						</div>
						<div class="price">
							<div class="money">￥266</div>
							<div class="join">
								团购
							</div>
						</div>
						<div class="num">
							已售12668件
						</div>
					</div><div class="shop-tab" @click="opennew('shop')">
						<div class="shopimg-box">
							<img src="img/index.jpg" class="shop-img" />
						</div>
						<div class="title">XXXXXXXX</div>
						<div class="label-box">
							<div class="label grey">广告</div>
							<div class="label blue">标签</div>
							<div class="label yellow">标签</div>
						</div>
						<div class="price">
							<div class="money">￥266</div>
							<div class="join">
								团购
							</div>
						</div>
						<div class="num">
							已售12668件
						</div>
					</div>
					<div class="shop-tab" @click="opennew('shop')">
						<div class="shopimg-box">
							<img src="img/index.jpg" class="shop-img" />
						</div>
						<div class="title">XXXXXXXX</div>
						<div class="label-box">
							<div class="label grey">广告</div>
							<div class="label blue">标签</div>
							<div class="label yellow">标签</div>
						</div>
						<div class="price">
							<div class="money">￥266</div>
							<div class="join">
								团购
							</div>
						</div>
						<div class="num">
							已售12668件
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el:'.wrapper',
			data:{
				index:0
			},
			methods:{
				navchange:function(index){
					this.index=index
				},
				opennew: function(target, id) {
					mui.openWindow({
						url: './' + target + '.html',
						id: target
					})
				}
			},
			mounted:function(res){
				
			}
		})
	</script>
</html>
