<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper joinshop">
			<!--头部-->
			<div class="header">
				<div class="aside">
					
				</div>
				<div class="head-main">
					商家入驻
				</div>
				<div class="aside"></div>
			</div>
			<div class="main">
				<input type="text" placeholder="店铺名称" v-model="storied" />
				<input type="number" placeholder="手机号" v-model="userphone" />
				<input type="text" placeholder="密码" v-model="pwd" />
				<input type="text" placeholder="身份证号码" v-model="usernum" />
				<div class="bottom" @click="myajax">
					<span>注册</span>
				</div>
			</div>
			<div class="bottom">
				<div class="bottom-box" @click="opennew('index')">
					<img src="img/HomeCopy.png" />
					<div class="bottom-text">
						首页
					</div>
				</div>
				<div class="bottom-box" @click="opennew('nearby')">
					<img src="img/bottom02.png" />
					<div class="bottom-text">
						筛选店铺
					</div>
				</div>
				<div class="bottom-box" @click="opennew('nav')">
					<img src="img/bottom03.png" />
					<div class="bottom-text">
						分类
					</div>
				</div>
				<div class="bottom-box">
					<img src="img/join-red.png" />
					<div class="bottom-text active">
						商家入驻
					</div>
				</div>
				<div class="bottom-box" @click="opennew('usercenter')">
					<img src="img/bottom05.png" />
					<div class="bottom-text ">
						个人中心
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				storied: '',
				userphone: '',
				pwd: '',
				usernum: ''
			},
			methods: {
				opennew: function(target) {
					mui.openWindow({
						url: './' + target + '.html',
						id: target
					})
				},
				myajax: function() {
					var that = this
					$.ajax({
						type: "post",
						url: url + "businessside/?service=Users.registered",
						async: true,
						data: {
							userid: localStorage.getItem('userid'),
							pass: that.pwd,
							tel: that.userphone,
							zidcard: '123456',
							fidcard: '123456',
							shopsname: that.storied,
							cardid: that.usernum
						},
						dataType: 'json',
						success: function(res) {
							if(res.data.code == 1) {
								plus.nativeUI.toast('欢迎您加入拼股商城')
								mui.openWindow({
									url: './usercenter.html',
									id: 'usercenter'
								})
							} else {
								alert('操作失败')
							}
						}
					});
				}
			},
			mounted: function() {

			}
		})
	</script>

</html>