<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper plogin">
			<!--头部-->
			<div class="header">
				<div class="aside">
					<img src="img/Shape.png" class="back"/>
				</div>
				<div class="head-main">
					登录
				</div>
				<div class="aside">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="main-inner">
					<div class="titile">账号密码登录 </div>
					<div class="input-box">
						<input type="number" placeholder="请输入手机号"/>
					</div>
					<div class="input-box">
						<input :type="ptype" placeholder="请输入密码"/>
						<img src="img/number (1).png" @click="changetype('text')" v-if="ptype=='password'"/>
						<img src="img/number (2).png" @click="changetype('password')" v-if="ptype=='text'"/>
					</div>
					<div class="login-type" style="justify-content: space-between;">
						<a href="wlogin.html">忘记密码?</a>
						<a href="plogin.html">手机快捷登录</a>
					</div>
					<div class="login" @click="opennew('index','')">登录</div>
					<div class="login-type">
						<div @click="opennew('Agreement','')">登陆即视为同意 	<strong>《干股注册协议》</strong></div>
					</div>
					
					<div class="three">
						<div class="thre-title">第三方登录 </div>
						<div class="three-box">
							<a href=""><img src="img/QQ@2x.png"/></a>
							<a href=""><img src="img/wxin.png"/></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					ptype:'password'
				},
				methods:{
					changetype:function(text){
						this.ptype=text
					},
					opennew:function(target,id){
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					}
				},
				mounted:function(){
					
				}
			})
		</script>
	</body>
</html>