<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper nearby index">
			<div class="header" style="background: #FFFFFF;">
				<div class="aside">
					
				</div>
				<div class="head-main" style="margin: 0;font-size: .35rem;">
					分类
				</div>
				<div class="aside"></div>
			</div>
			<div class="main adresschange mynav">
				<div class="left">
					<div class="left-tab" @click="change(index,val.goodsid)" v-for="(val,index) in adressdata" :class="index==myindex?'active':''">
						<span>
							{{val.goodsname}}
						</span>
					</div>
				</div>
				<div class="right">
					<div class="nav-top">
						{{adressdata[myindex].goodsname}}
					</div>
					<div class="nav-box02">
						<div class="nav-tab" v-for="val in twodata" @click="openshop(val.goodsid)">
							<img :src="val.icon" class="shopimg"/>
							<div class="shoptext">{{val.goodsname}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="bottom-box" @click="opennew('index')">
					<img src="img/HomeCopy.png"/>
					<div class="bottom-text ">
						首页
					</div>
				</div>
				<div class="bottom-box" @click="opennew('nearby')">
					<img src="img/bottom02.png" />
					<div class="bottom-text">
						筛选店铺
					</div>
				</div>
				<div class="bottom-box">
					<img src="img/bottom03-active.png"/>
					<div class="bottom-text active">
						分类
					</div>
				</div>
				<div class="bottom-box" @click="opennew('join-shop')">
					<img src="img/join.png" />
					<div class="bottom-text">
						商家入驻
					</div>
				</div>
				<div class="bottom-box" @click="opennew('usercenter')">
					<img src="img/bottom05.png" />
					<div class="bottom-text">
						个人中心
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el:'.wrapper',
			data:{
				adressdata:[],
				myindex:0,
				twodata:[],
				threedata:[]
			},
			methods:{
				inputsubmit:function(){
					this.opennew('search')
				},
				openshop:function(id){
					localStorage.setItem('goodsid02',id)
					this.opennew('nav02')
				},
				opennew: function(target, id) {
					mui.openWindow({
						url: './' + target + '.html',
						id: target
					})
				},
				change:function(index){
					this.myindex=index
					this.havetow(this.adressdata[index].goodsid)
				},
				myajax:function(){
					var that=this
//					获取左侧一级分类 
					$.ajax({
						type:"post",
						url:url + "shopsmain/?service=Goodstype.getTypeOne",
						async:true,
						dataType:'json',
						success:function(res){
							that.adressdata=res.data
							that.havetow(res.data[0].goodsid)
						}
					});

				},
				havetow:function(id){
					var that=this
					$.ajax({
						type:"post",
						url:url + "shopsmain/?service=Goodstype.getChilden",
						async:true,
						data:{
							goodsid:id,
							page:1,
							limit:50
						},
						dataType:'json',
						success:function(res){
							console.log(res)
							that.twodata=res.data
						}
					});
				}
			},
			mounted:function(){
				this.myajax()
			}
		})
	</script>
</html>
