<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper index nearby" id="all">
			<div class="header header02">
				<div class="head-main">
					<img src="img/search-grey.png" />
					<input type="search" placeholder="请输入您要搜索的内容" class="search" v-model="searchtext"/>
				</div>
				<div class="aside" @click="myajax()">
					搜索
				</div>
			</div>
			<div class="main">
				<div class="near-main" id="store">
					<div class="near-tab" v-for="val in mydata">
						<img :src="val.shopicon" class="avatar" />
						<div class="near-text">
							<div class="near-title">{{val.shopname}}</div>
							<div class="near-sub">经营类型：{{val.catname}}</div>
						</div>
						<div class="adress-box">
							<div class="into" @click="opennew('store',val.storeinfoid)">进入店铺</div>
							<!--<div class="near-sub">距离：{{val.distance_km}}km</div>-->
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="bottom-box" @click="opennew('index')">
					<img src="img/HomeCopy.png" />
					<div class="bottom-text">
						首页
					</div>
				</div>
				<div class="bottom-box">
					<img src="img/bottom02-active.png" />
					<div class="bottom-text active">
						筛选店铺
					</div>
				</div>
				<div class="bottom-box" @click="opennew('nav')">
					<img src="img/bottom03.png" />
					<div class="bottom-text">
						分类
					</div>
				</div>
				<div class="bottom-box" @click="opennew('join-shop')">
					<img src="img/join.png" />
					<div class="bottom-text">
						商家入驻
					</div>
				</div>
				<div class="bottom-box" @click="opennew('usercenter')">
					<img src="img/bottom05.png" />
					<div class="bottom-text">
						个人中心
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				mydata:'',
				searchtext:''
			},
			mounted: function() {
				this.myajax()
			},
			methods: {
				opennew: function(target, id) {
					localStorage.setItem('storeinfoid',id)
					mui.openWindow({
						url: './' + target + '.html',
						id: target
					})
				},
				myajax: function() {
					var that = this
					$.ajax({
						type: "POST",
						url: url + 'shopsmain/?service=Storeinfo.getStoreCloseToFar',
						datatype: 'json',
						data: {
							page: 1,
							limit: 20,
							searchName:that.searchtext
						},
						success: function(data) {
							that.mydata=data.data;
						},
						error: function() {
							alert('接收失败');
						}
					});
				}
			}
		})
	</script>

</html>