<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper help orderdetail">
			<!--头部-->
			<div class="header">
				<div class="aside mui-action-back">
					<img src="img/Shape.png" class="back"/>
				</div>
				<div class="head-main">
					订单详情
				</div>
				<div class="aside" href="javascript:void(0)">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="help-item">
					<div>订单编号:{{orderno}}</div>
					<div></div>
				</div>
				<div class="shop-main" :class="more==true?'active':''" :style="mydata.goodsShow.length<=3?'height:auto':''">
					<div class="shop-item" v-for="val in mydata.goodsShow">
						<img :src="val.goodsInfor.pricon"/>
						<div class="name-box">
							<div class="num-box">
								<div class="name">{{val.goodsInfor.goodsname}}</div>
								<div class="price">￥{{val.prices}}</div>
							</div>
							<div class="num">
								x{{val.bynumber}}
							</div>
						</div>
					</div>
					<div class="more" v-if="!more&&mydata.goodsShow.length>3" @click="moreboo">
						<div>加载更多</div>
						<img src="img/Arrow_right@2x.png"/>
					</div>
					<div class="more" v-if="more&&mydata.goodsShow.length>3" @click="moreboo">
						<div>收起</div>
						<img src="img/up.png"/>
					</div>
				</div>
				<!--<div class="help-item">
					<div>优惠卷</div>
					<div class="red">-16</div>
				</div>-->
				<div class="help-item">
					<div></div>
					<div class="hji">
						<!--<span class="line">已优惠:￥16</span>-->   
						合计: <span class="red"> ￥{{mydata.goodsprices}}</span>
					</div>
				</div>
				<div class="help-item detailtop">
					<div>订单信息</div>
					<div class="red"></div>
				</div>
				<div class="help-item inner">
					<div>订单编号:</div>
					<div>{{orderno}}</div>
				</div>
				<div class="help-item inner">
					<div>详细地址:</div>
					<div>{{mydata.useradd}}</div>
				</div>
				<div class="help-item inner">
					<div>下单时间:</div>
					<div>{{mydata.createtime}}</div>
				</div>
				<div class="help-item detailtop">
					<div>订单备注</div>
					<div class="red"></div>
				</div>
				<div class="help-item inner" style="height: auto;">
					<textarea  readonly="readonly" :value="mydata.orderremarks ">
						
					</textarea>
				</div>
			</div>
			<!--<div class="bottom">
				<div class="bleft">
					<div class="btn" @click="opennew('002','backorder')">退单</div>
					<div class="btn" @click="opennew('002','Complaint')">投诉</div>
				</div>
				<div class="bright">
					<div class="btn" @click="opennew('002','rating')">进行评价</div>
				</div>
			</div>-->
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					more:false,
					mydata:'',
					orderno:localStorage.getItem('orderno')
				},
				methods:{
					myajax:function(){
						var that=this
						$.ajax({
							type: "post",
							url: url + 'shopsmain/?service=Order.getOrderInfor',
							async: true,
							data: {
								orderno: that.orderno
							},
							success: function(data) {
								console.log(data)
								that.mydata=data.data
							}
						});
					},
					moreboo:function(){
						this.more=!this.more
					},
					opennew:function(id,target){
						window.location.href='./'+target+'.html'
					}
				},
				mounted:function(){
					this.myajax()
				}
			})
		</script>
	</body>
</html>