<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper myorder">
			<!--头部-->
			<div class="header">
				<div class="aside mui-action-back">
					<img src="img/Shape.png" class="back"/>
				</div>
				<div class="head-main">
					退换/售后
				</div>
				<div class="aside">
					
				</div>
			</div>
			<div class="main big-main">
				<div class="nav">
					<div class="nav-tab" :class="index=='daiTuiHuo'?'active':''" @click="navchange('daiTuiHuo')">
						<span>受理中</span>
					</div>
					<div class="nav-tab" :class="index=='yiTuiHuo'?'active':''" @click="navchange('yiTuiHuo')">
						<span>已受理</span>
					</div>
				</div>
				<div class="order-main">
					<div class="order-box" @click="opennew('orderdetail',val.oderno)" v-for="val in mydata">
						<div class="order-top">
							<img :src="val.storeinfor.shopicon" class="avatar" />
							<div class="shop-name">{{val.shopname}}</div>
						</div>
						<div class="order-wrapepr" v-for="item in val.goodsList">
							<img :src="item.pricon" class="shop-img" />
							<div class="order-text">
								<div class="order-title">
									{{item.goodsname}}
								</div>
								<div class="order-monry">
									<div class="order-price">￥{{item.goodsprices}}</div>
									<div class="order-num">x{{item.bynumber}}</div>
								</div>
							</div>
						</div>
						<div class="allnum">
							<div class="num02">共{{val.goodsList.length}}件</div>
							<div class="allprice">实付款：<strong>￥{{val.paymoney}}</strong></div>
						</div>
						<div class="setting" v-if="index=='daiTuiHuo'">
							<div class="noorder" style="border: 0;"></div>
							<div class="haveorder" @click.stop="settingorder('isPay',val.oderno)">撤销售后</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el:'.wrapper',
			data:{
				index:'daiTuiHuo',
				mydata:[]
			},
			methods:{
				settingorder:function(type,id){
					var that=this
					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=TuiHuo.canel',
						async: true,
						data: {
							ordernumber: id
						},
						success: function(data) {
							that.myajax()
						}
					});
				},
				navchange:function(index){
					this.index=index
					this.myajax()
				},
				opennew: function(target, id) {
					localStorage.setItem('oderno',id)
					mui.openWindow({
						url: './' + target + '.html',
						id: target
					})
				},
				myajax: function() {
					var that = this
					$.ajax({
						type: "post",
						url: url + "shopsmain/?service=Order.getUserOrder",
						async: true,
						data: {
							userid: localStorage.getItem('userid'),
							page: 1,
							limit: 10,
							type: that.index
						},
						dataType: 'json',
						success: function(res) {
							console.log(res)
							that.mydata = res.data
						}
					});
				}
			},
			mounted:function(res){
				this.myajax()
			}
		})
	</script>
</html>
