<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper index search">
			<div class="header header02">
				<div class="aside mui-action-back">
					<img src="img/Shape.png" class="back" />
				</div>
				<div class="head-main">
					<img src="img/search-grey.png" />
					<input type="text" placeholder="请输入您要搜索的内容" v-model="text"/>
				</div>
				<div class="aside" @click="opennew()">
					搜索
				</div>
			</div>
			<div class="main big-main">
				<div class="search-box">
					<div class="search-top">
						历史搜索
					</div>
					<div class="search-heat">
						<div class="heart02" v-for="val in myhistory">{{val}}</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				myhistory:[],
				text:''
			},
			methods: {
				opennew: function() {
//					this.myhistory.push(this.text)
//					localStorage.setItem('searchtext',this.myhistory)
					localStorage.setItem('searchtext',this.text)
					mui.openWindow({
						url: './list01.html',
						id: 'list01'
					})
				}
			},
			mounted: function() {
//				this.myhistory=localStorage.getItem('searchtext')||[]
			}
		})
	</script>

</html>