<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/swiper-3.4.2.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.imgs img {
				width: 100%;
			}
		</style>
	</head>

	<body>
		<div class="wrapper shop">
			<div class="header">
				<div class="aside mui-action-back">
					<div class="img-box">
						<img src="img/back-white.png" class="back" />
					</div>
				</div>
				<div class="head-main">

				</div>
				<div class="aside">
					<div class="img-box rightj" @click="opennew('store')">
						<img src="img/shop-white.png" class="back" />
					</div>
					<div class="img-box" @click="opennew('share')">
						<img src="img/share-white.png" class="back" />
					</div>
				</div>
			</div>
			<div class="main index-main">
				<!--商品图-->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="val in mydata.goodsimage"><img :src="val.src" class="banner" /></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<!--商品价格-->
				<div class="title-box">
					<div class="title">
						{{mydata.goodsname}}
					</div>
					<div class="collect" @click="collect(mydata.goods_one_id)">
						<img src="img/collect-active.png" />
					</div>
				</div>
				<div class="price-box">
					<div class="price-left">
						<div class="price">￥{{mydata.goodsprices}}</div>
						<div class="old-price">原价￥{{mydata.pcostprice}}</div>
					</div>
					<!--<div class="price-right">
						<span>距离结束还剩</span>
						<span>24：00：00</span>
					</div>-->
				</div>
				<div class="num-box">
					<div class="num">

					</div>
					<div class="num">
						月销{{mydata.goodsno}}件
					</div>
				</div>
				<div class="ensure-box">
					<div class="ensure">
						<img src="img/Authorization_success@3x.png" />
						<span>全场包邮</span>
					</div>
					<div class="ensure">
						<img src="img/Authorization_success@3x.png" />
						<span>7天退换</span>
					</div>
					<div class="ensure">
						<img src="img/Authorization_success@3x.png" />
						<span>48小时发货</span>
					</div>
					<div class="ensure">
						<img src="img/Authorization_success@3x.png" />
						<span>假一赔十</span>
					</div>
				</div>
				<!--优惠卷-->
				<div class="discount-box" @click="cartshow">
					<img src="img/ticket@3x.png" />
					<div class="discount-title">优惠卷</div>
					<div class="discont-text">
						<block v-for='val in huidata'>满{{val.dixian}}减{{val.you_money}}</block>
					</div>
				</div>
				<!--团购-->
				<!--<div class="group-box" @click="cartshow02">
					<div class="group-title">{{joindata.length}}人在团购</div>
					<div class="group-text">查看全部</div>
				</div>
				<div class="group-tab" v-for="val in joindata">
					<img :src="val.pricon" class="avatar"/>
					<div class="name">{{val.loginname}}</div>
					<div class="time-box">
						<div class="titel">还差<strong>{{val.cha人</strong>成团</div>
						<div class="time">{{val.over_time}}结束</div>
					</div>
					<div class="pay" @click="join(val.purchaselaunchid,val.goodsid)">立即参团</div>
				</div>-->
				<!--评价-->
				<div class="group-box" @click="opennew('allrating')">
					<div class="group-title">商品评价（{{ratingdata.count}}）</div>
					<div class="group-text">查看全部</div>
				</div>
				<div class="rating-tab" v-for="val in ratingdata.list">
					<div class="rating-top">
						<img :src="val.userphoto" class="avatar" />
						<div class="name">{{val.loginname}}</div>
						<div class="star-box">
							{{val.ping_createtime}}
						</div>
					</div>
					<div class="rating-text">
						{{val.body}}
					</div>
				</div>
				<!--商品详情-->
				<div class="group-box">
					<div class="group-title">商品详情</div>
					<div class="group-text"></div>
				</div>
				<div class="imgs" v-html="mydata.content">

				</div>
			</div>
			<!--底部导航栏-->
			<div class="bottom">
				<div class="bottom01" @click="opennew('chat')">
					<img src="img/qq.png" />
					<span>客服</span>
				</div>
				<div class="bottom02" @click="cartshow03">
					加入购物车
				</div>
				<div class="bottom03" @click="cartshow03">
					<div class="price01">￥{{mydata.goodsprices}}</div>
					<div class="text01">单独购买</div>
				</div>
				<div class="bottom04" @click="cartshow03">
					<div class="price01">￥{{mydata.goodsprices}}</div>
					<div class="text01">会员价格</div>
				</div>
			</div>
			<!--优惠卷弹出框-->
			<transition name='donghua'>
				<div class="alert" v-if="cartboo">
					<div class="alert-inner">
						<div class="alert-top">
							<div class="aside"></div>
							<div class="text">优惠卷</div>
							<img src="img/close.png" class="aside" @click="cartshow" />
						</div>
						<div class="alert-main">
							<div class="cart-box" v-for="val in huidata">
								<div class="cart-tab">
									<div class="money-box">
										<div class="pricecart">
											￥<strong>{{val.you_money}}</strong>
										</div>
										<div class="price-text">优惠券</div>
									</div>
									<div class="cart-main">
										<div class="cart-title">{{val.you_title}}</div>
										<div class="cart-sub">满{{val.dixian}}元可用</div>
										<div class="cart-sub">{{val.daoqi_time}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<!--拼团弹出框-->
			<!--<transition name='donghua'>
				<div class="alert" v-if="cartboo02">
					<div class="alert-inner">
						<div class="alert-top">
							<div class="aside"></div>
							<div class="text">正在拼单</div>
							<img src="img/close.png" class="aside" @click="cartshow02" />
						</div>
						<div class="alert-main">
							<div class="group-tab" v-for="val in joindata">
								<img :src="val.pricon" class="avatar"/>
								<div class="name">{{val.loginname}}</div>
								<div class="time-box">
									<div class="titel">还差<strong>{{val.cha人</strong>成团</div>
									<div class="time">{{val.over_time}}结束</div>
								</div>
								<div class="pay" @click="join(val.purchaselaunchid,val.goodsid)">立即参团</div>
							</div>
						</div>
					</div>
				</div>
			</transition>-->
			<!--购买弹出框-->
			<transition name='donghua'>
				<div class="alert" v-if="cartboo03" @click="cartshow03">
					<div class="alert-inner">
						<div class="shop-introduce">
							<img :src="mydata.goodsimage[0].src" class="shop-img" />
							<div class="introduce-main">
								<div class="introduce-title">
									{{mydata.goodsname}}
								</div>
								<div class="bprice">
									￥{{mydata.goodsprices}}
								</div>
							</div>
						</div>
						<block v-for='item in mydata.newguige'>
							<div class="btop">
								<div class="btitle">{{item.key}}</div>
								<div class="bmain"></div>
							</div>
							<div class="nav-box">
								<div class="nav-tab" v-for="(val,index) in item.attr" :class="index=myindex?'active':''" @click.stop="changeindex">
									{{val}}
								</div>
							</div>
						</block>
						<div class="btop">
							<div class="btitle">数量</div>
							<div class="bmain">
								<div class="add-box">
									<img src="img/remove.png" @click.stop="changenum(0)" />
									<input type="number" readonly="readonly" v-model="cartnum" />
									<img src="img/add.png" @click.stop="changenum(1)" />
								</div>
							</div>
						</div>
						<div class="bpay">
							<div class="bottom02" @click="joincart">
								加入购物车
							</div>
							<div class="bottom03" @click.stop="gopay">
								<div class="price01">￥{{mydata.goodsprices}}</div>
								<div class="text01">单独购买</div>
							</div>
							<!--@click.stop="addSSPurchase()"-->
							<!--<div class="bottom04" @click.stop="gopay">
								<div class="price01">￥{{mydata.goodsprices}}</div>
								<div class="text01">发起团购</div>
							</div>-->
						</div>
					</div>
				</div>
			</transition>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		new Vue({
			el: '.wrapper',
			data: {
				cartboo: false,
				cartboo02: false,
				cartboo03: false,
				mydata: '',
				ratingdata: '',
				joindata: '',
				myindex: 0,
				cartnum: 1,
				channel: [],
				huidata: []
			},
			methods: {
				collect: function(id) {
					if(localStorage.getItem('userid') == null || localStorage.getItem('userid') == 'null') {
						window.location.href = 'mlogin.html'
					}
					var that = this
					$.ajax({
						type: "post",
						url: url + "/shopsmain/?service=Favorites.add",
						async: true,
						data: {
							userid: localStorage.getItem('userid'),
							favoritesid: id,
							types: 'goods'
						},
						success: function(res) {
							console.log(res)
							if(res.data == true) {
								plus.nativeUI.toast('收藏成功')
							}
						}
					});
				},
				gopay: function() {
					var that = this
					var	boo=false
					$.ajax({
						type: 'POST',
						url: url + 'shopsmain/?service=Harvestaddress.getAddress',
						datatype: 'json',
						async: false,
						data: {
							userid: localStorage.getItem('userid'),
							page: 1,
							limit: 15
						},
						success: function(data) {
							for (var i = 0; i < data.data.length; i++) {
								if(data.data[i].ismoren=="1"){
									boo=true
									
								}
							}
						}
					});
					console.log(boo==false)
					if(boo==false){
						plus.nativeUI.toast('您还没有设置默认收货地址呢！')
						that.opennew('adress')
						return false;
					}
					var cartdata = {}
					cartdata.shopid = this.mydata.storeid
					cartdata.shopname = this.mydata.storeinfor.shopname
					var list = []
					var listdata = {}
					listdata.id = this.mydata.goods_one_id
					listdata.prices = this.mydata.goodsprices
					listdata.num = this.cartnum
					list.push(listdata)
					cartdata.data = list
					//					获取运费
					var ajaxjson = {
						userid: localStorage.getItem('userid'),
						infor: JSON.stringify({
							total: 0,
							datainfo: [{
								data: [{
									id: that.mydata.goods_one_id,
									num: that.cartnum
								}]
							}]
						})
					}
					var yunfei = 0
					$.ajax({
						type: "post",
						url: url + "/shopsmain/?service=Order.YunFei",
						async: true,
						data: ajaxjson,
						success: function(res) {
							yunfei = res.data[0].sum
						}
					});
					var ajaxjs = {
						infor: JSON.stringify({
							total: 0,
							remarks: 0,
							a: 0,
							b: null,
							datainfo: [cartdata],
						}),
						userid: localStorage.getItem('userid'),
						yunfei: yunfei,
						is_ruzhu: 0,
						yindou: 0,
						in_hehuo: 0
					}

					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=Order.createOrder',
						dataType: 'json',
						data: ajaxjs,
						success: function(res) {
							plus.nativeUI.confirm("请选择您的支付方式！", function(e) {
								if(e.index == 0) {
									$.ajax({
										type: "post",
										url: url + 'shopsmain/?service=Pay.GoodsPay',
										async: true,
										data: {
											orderNumber: JSON.stringify(res.data)
										},
										success: function(data) {
											plus.payment.request(that.channel[0], data, function(result) {
												plus.nativeUI.alert("支付成功！", function() {

												});
											}, function(error) {
												alert('支付失败')
											});
										}
									});
								} else {
									$.ajax({
										type: "post",
										url: url + 'shopsmain/?service=Pay.Wx_GoodsPay',
										async: true,
										data: {
											orderNumber: JSON.stringify(res.data)
										},
										success: function(data) {
											plus.payment.request(that.channel[1], data, function(result) {
												plus.nativeUI.alert("支付成功！", function() {

												});
											}, function(error) {
												alert('支付失败')
											});
										}
									});
								}
							}, {
								"title": "支付方式",
								"buttons": ["支付宝", "微信"]
							});

						},
						error: function(err) {
							alert(JSON.stringify(err))
						}
					});
				},
				addSSPurchase: function() {
					var that = this
					//					发起团购
					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=Grouppurchase.addSSPurchase',
						async: true,
						dataType: 'json',
						data: {
							goodsid: localStorage.getItem('goodsid'),
							userid: localStorage.getItem('userid')
						},
						success: function(res) {
							if(res.ret == 1) {
								that.myajax()
							}
						}
					});
				},
				join: function(purchaselaunchid, goodsid) {
					var that = this
					//					加入团购
					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=Grouppurchase.addSSPurchase',
						async: true,
						dataType: 'json',
						data: {
							goodsid: localStorage.getItem('goodsid'),
							userid: localStorage.getItem('userid'),
							purchaselaunchid: purchaselaunchid
						},
						success: function(res) {
							if(res.data == 1) {
								that.opennew('shopcart')
							}
						}
					});
				},
				changenum: function(type) {
					if(type == 0 && this.cartnum > 0) {
						this.cartnum--
					} else {
						this.cartnum++
					}
				},
				joincart: function() {
					var that = this
					//					添加购物车
					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=Cart.addCart',
						async: true,
						dataType: 'json',
						data: {
							goodsid: localStorage.getItem('goodsid'),
							userid: localStorage.getItem('userid'),
							storeinfoid: that.mydata.storeid,
							cartnum: that.cartnum
						},
						success: function(res) {
							if(res.data == 1) {
								that.opennew('shopcart')
							}
						}
					});
				},
				changeindex: function(index) {
					this.myindex = index
				},
				cartshow: function() {
					this.cartboo = !this.cartboo
				},
				cartshow02: function() {
					this.cartboo02 = !this.cartboo02
				},
				cartshow03: function() {
					if(localStorage.getItem('userid') == null || localStorage.getItem('userid') == 'null') {
						window.location.href = 'mlogin.html'
					}
					this.cartboo03 = !this.cartboo03
				},
				opennew: function(target, id) {
					localStorage.setItem('storeinfoid', this.mydata.storeid)
					mui.openWindow({
						url: './' + target + '.html',
						id: target,
						createNew: true
					})
				},
				myajax: function() {
					var that = this
					//					获取商品详情
					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=Productinfo.getInfor',
						async: true,
						dataType: 'json',
						data: {
							goodsid: localStorage.getItem('goodsid')
						},
						success: function(res) {
							res.data.goodsimage = JSON.parse(res.data.goodsimage)
							that.mydata = res.data
							//					获取优惠卷
							$.ajax({
								type: "post",
								url: url + 'shopsmain/?service=Storeinfo.getStoreYouHui',
								async: true,
								data: {
									storeinfoid: res.data.storeid
								},
								dataType: 'json',
								success: function(data) {
									that.huidata = data.data
								}
							});
						}
					});
					//					获取评论
					$.ajax({
						type: "post",
						url: url + 'shopsmain/?service=Productinfo.getGoodsCommentsAll',
						async: true,
						dataType: 'json',
						data: {
							goodsid: localStorage.getItem('goodsid'),
							page: 1,
							limit: 3
						},
						success: function(res) {
							that.ratingdata = res.data
						}
					});
					//					获取团购人员列表
					//					$.ajax({
					//						type:"post",
					//						url:url + 'shopsmain/?service=Grouhppurchase.getGrouppurchaseIsDoing',
					//						async:true,
					//						dataType:'json',
					//						data:{
					//							goodsid:localStorage.getItem('goodsid'),
					//							limit:3,
					//							page:1
					//						},
					//						success:function(res){
					//							console.log(res)
					//							that.joindata=res.data
					//						}
					//					});
				}
			},
			mounted: function() {
				this.myajax()
				var that = this
				// 1. 获取支付通道
				function plusReady() {
					// 获取支付通道
					plus.payment.getChannels(function(channels) {
						that.channel = channels;
					}, function(e) {
						alert("获取支付通道失败：" + e.message);
					});
				}
				if(window.plus) {
					plusReady();
				} else {
					document.addEventListener('plusready', plusReady, false);
				}
			},
			updated: function() {
				var mySwiper = new Swiper('.swiper-container', {
					autoplay: 3000, //可选选项，自动滑动
					pagination: '.swiper-pagination'
				})
			}
		})
	</script>

</html>