<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper usercenter">
			<!--头部-->
			<div class="header">
				<div class="aside" style="position: relative;left: .24rem;" @click="opennew('shopjoin')">
					商家入驻
				</div>
				<div class="head-main">
					个人中心
				</div>
				<div class="aside" @click="opennew('newcenter')">
					<img src="img/news.png" class="back" />
				</div>
			</div>
			<!--中间主体-->
			<div class="main">
				<div class="center-top">
					<img :src="avatar" class="avatar" @click="opennew('setting')" />
					<div class="name-box">
						<div class="name">{{navdata.userinfor.username==''?'未设置昵称':navdata.userinfor.username}}</div>
						<div class="state-box">
							<div class="phone">
								{{name}}
							</div>
							<div class="state">拼股会员</div>
						</div>
					</div>
				</div>
				<div class="nav02">
					<div class="nav-tab" @click="opennew('integral')">
						<div class="text">
							￥{{navdata.userinfor.yongjin}}<br /> 总收益金
						</div>
					</div>
					<!--<div class="nav-tab" @click="opennew('integral')">
						<div class="text">
							￥266<br /> 今日收益
						</div>
					</div>-->
					<div class="nav-tab" @click="opennew('myprofit')">
						<div class="text">
							{{navdata.userinfor.doudou}}<br /> 豆
						</div>
					</div>
					<div class="nav-tab" @click="opennew('mygold')">
						<div class="text">
							{{navdata.userinfor.jindou}}<br /> 金豆
						</div>
					</div>
				</div>
				<div class="user-tab" @click="opennew('order')">
					<div class="tab-text" style="text-indent: .24rem;">我的订单</div>
					<div class="tab-text" style="text-align: right;padding-right: .24rem;color: #999999;font-size: .2rem;">查看全部</div>
					<img src="img/arrright.png" class="arr" />
				</div>
				<div class="nav-tab02">
					<div class="nav" @click="opennew('order')">
						<div class="redcir" v-if='ordernum>0'></div>
						<div class="num"><img src="img/order01.png" /></div>
						<div class="num">待付款</div>
					</div>
					<div class="nav" @click="opennew('order')">
						<div class="redcir" v-if='ordernum02>0'></div>
						<div class="num"><img src="img/order02.png" /></div>
						<div class="num">待收货</div>
					</div>
					<div class="nav" @click="opennew('shopcart')">
						<div class="redcir" v-if='ordernum03>0'></div>
						<div class="num"><img src="img/bottom04.png" /></div>
						<div class="num">购物车 </div>
					</div>
					<div class="nav" @click="opennew('return')">
						<div class="redcir" v-if='ordernum04>0'></div>
						<div class="num"><img src="img/order0.png" /></div>
						<div class="num">退换/售后</div>
					</div>
				</div>
				<div class="nav-tab02">
					<div class="nav" @click="opennew('discount')">
						<div class="num"><img src="img/count.png" /></div>
						<div class="num">优惠券</div>
					</div>
					<div class="nav" @click="opennew('collect')">
						<div class="num"><img src="img/collect01.png" /></div>
						<div class="num">我的收藏</div>
					</div>
					<div class="nav" @click="opennew('foot')">
						<div class="num"><img src="img/foot.png" /></div>
						<div class="num">我的足迹 </div>
					</div>
					<div class="nav" @click="opennew('adress')">
						<div class="num"><img src="img/adresss.png" /></div>
						<div class="num">收货地址</div>
					</div>
				</div>
				<div class="user-tab" @click="opennew('share')">
					<img src="img/user01.png" class="logo" />
					<div class="tab-text">邀请好友赚取收益金</div>
				</div>
				<div class="user-tab" @click="opennew('rname')">
					<img src="img/user02.png" class="logo" />
					<div class="tab-text">认证中心</div>
				</div>
				<div class="user-tab" @click="opennew('setting')">
					<img src="img/user03.png" class="logo" />
					<div class="tab-text">设置</div>
				</div>
				<div class="user-tab" @click="opennew('question')">
					<img src="img/user04.png" class="logo" />
					<div class="tab-text">帮助</div>
				</div>
				<a class="user-tab" @click="opennew('share')" href="tel:4006010751">
					<img src="img/user05.png" class="logo" />
					<div class="tab-text">客服</div>
					<div class="tab-text" style="text-align: right;padding-right: .24rem;color: #999999;font-size: .2rem;">4006010751</div>
				</a>
			</div>
			<div class="bottom">
				<div class="bottom-box" @click="opennew('index')">
					<img src="img/HomeCopy.png" />
					<div class="bottom-text">
						首页
					</div>
				</div>
				<div class="bottom-box" @click="opennew('nearby')">
					<img src="img/bottom02.png" />
					<div class="bottom-text">
						筛选店铺
					</div>
				</div>
				<div class="bottom-box" @click="opennew('nav')">
					<img src="img/bottom03.png" />
					<div class="bottom-text">
						分类
					</div>
				</div>
				<div class="bottom-box" @click="opennew('join-shop')">
					<img src="img/join.png" />
					<div class="bottom-text">
						商家入驻
					</div>
				</div>
				<div class="bottom-box">
					<img src="img/bottom05-active.png" />
					<div class="bottom-text active">
						个人中心
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					avatar: localStorage.getItem('userphoto'),
					files: [],
					name: localStorage.getItem('loginname'),
					navdata: '',
					ordernum: 0,
					ordernum02: 0,
					ordernum03:0
				},
				methods: {
					opennew: function(target) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target
						})
					},
					myajax: function() {
						//						获取用户信息
						var that = this
						$.ajax({
							type: "post",
							url: url + "shopsmain/?service=Users.getUserInfor",
							async: true,
							data: {
								userid: localStorage.getItem('userid')
							},
							dataType: 'json',
							success: function(res) {
								that.navdata = res.data
							}
						});
						$.ajax({
							type: "post",
							url: url + "shopsmain/?service=Order.getUserOrder",
							async: true,
							data: {
								userid: localStorage.getItem('userid'),
								page: 1,
								limit: 20,
								type: 'notPay'
							},
							dataType: 'json',
							success: function(res) {
								that.ordernum = res.data.length
							}
						});
						$.ajax({
							type: "post",
							url: url + "shopsmain/?service=Order.getUserOrder",
							async: true,
							data: {
								userid: localStorage.getItem('userid'),
								page: 1,
								limit: 20,
								type: 'notFaHuo'
							},
							dataType: 'json',
							success: function(res) {
								that.ordernum02 = res.data.length
							}
						});
//						获取购物车
						$.ajax({
							type: 'POST',
							url: url + 'shopsmain/?service=Cart.getCartList',
							datatype: 'json',
							data: {
								userid: localStorage.getItem('userid'),
								page: 1,
								limit: 15
							},
							success: function(data) {
								that.ordernum03 = data.data.length
							}
						});
//						退货
						$.ajax({
							type: "post",
							url: url + "shopsmain/?service=Order.getUserOrder",
							async: true,
							data: {
								userid: localStorage.getItem('userid'),
								page: 1,
								limit: 10,
								type: 'daiTuiHuo'
							},
							dataType: 'json',
							success: function(res) {
								that.ordernum04 = res.data.length
							}
						});
					}
				},
				mounted: function() {
					if(localStorage.getItem('userid') == null || localStorage.getItem('userid') == 'null') {
						window.location.href = 'mlogin.html'
					} else {
						this.myajax()
					}

				}
			})
		</script>
	</body>

</html>