<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper plogin">
			<!--头部-->
			<div class="header">
				<div class="aside mui-action-back">
					<img src="img/Shape.png" class="back" />
				</div>
				<div class="head-main">
					变更密码
				</div>
				<div class="aside">

				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="main-inner">
					<div class="input-box">
						<input type="number" placeholder="请输入手机号" v-model="phone"/>
						<div class="addcode" @click="addcode">{{num}}</div>
					</div>
					<div class="input-box">
						<input type="number" placeholder="请输入短信验证码" v-model="pwd" />
					</div>
					<div class="input-box">
						<input type="text" placeholder="请输入新密码" v-model="pass" />
					</div>
					<div class="login" @click="pay()">确定</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					num: '获取验证码',
					phone: '',
					code: '',
					pwd: '',
					pass:'',
					token:''
				},
				methods: {
					addcode: function() {
						var set
						that = this;
						if(this.num == '获取验证码') {
							$.ajax({
								type: "post",
								url: url + "shopsmain/?service=Send.RegisteredVerification",
								async: true,
								data: {
									phoneNumber: that.phone
								},
								dataType: 'json',
								success: function(res) {
									if(res.data.code == 1) {
										that.code = res.data.huoqu
										that.num = 60
										that.token=res.data.token
										set = setInterval(function() {
											if(that.num != 1) {
												that.num--
											} else {
												clearInterval(set)
												that.num = '获取验证码'
											}
										}, 1000)
									} else {
										alert('发送验证码失败！')
									}

								}
							});

						}
					},
					pay: function() {
						if(this.code == this.pwd) {
							$.ajax({
								type: "post",
								url: url + "shopsmain/?service=Users.updatePass",
								async: true,
								data: {
									loginname: that.phone,
									pass:that.pass,
									token:that.token,
									number:that.code
								},
								dataType: 'json',
								success: function(res) {
									if(res.data==true){
										plus.nativeUI.toast('修改完成')
										mui.back()
									}
								}
							});
						} else {
							alert('验证码输入错误！')
						}
					}
				},
				mounted: function() {

				}
			})
		</script>
	</body>

</html>